
@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<a class="btn btn-sm btn-success" asp-controller="People" asp-action="Create">Create a new Person</a>
<a class="btn btn-sm btn-success" asp-controller="PersonTypes" asp-action="Create">Create a new Person Type</a>
<a class="btn btn-sm btn-success" asp-controller="People" asp-action="Index">List People</a>
<a class="btn btn-sm btn-success" asp-controller="PersonTypes" asp-action="Index">List Person Types</a>